.profile__info {
  min-height: 73px;
  margin-left: 0;
  display: grid;
  flex-direction: column;
  color: #fff;
  grid-template-columns: repeat(2 minmax(min-content));
  grid-template-rows: 1fr 1fr;
  max-width: 60%;
}

@media screen and (max-width: 900px) {
  .profile__info {
    max-width: 80%;
    position: relative;
  }
}