body {
  background-color: #000;
  max-width: 880px;
  min-width: 320px;
  display: grid;
  padding: 45px 200px 60px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  body {
    padding: 28px 0 36px;
    margin: 0;
  }     
}