.like-button {
  width: 22px;
  height: 18px;
  border: none;
  background: transparent;
  background-image: url('../../images/like-button__disabled.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .5s ease;
  grid-area: like;
  margin-right: 20px;
  align-self: flex-end;
  justify-self: end;
  margin-bottom: 0;
}

.like-button:hover {
  opacity: .5;
}